@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script&display=swap');


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d1a71e;
}

body.is-ready {
    animation: fade-left 1s ease-out forwards;
}

@keyframes fade-left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

ul {
    margin: 0;
    padding: 0;

}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 1em;
    font-family: 'Dancing Script', cursive;


}

a {
    text-decoration: none;
    color: black;
}


.logo {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6em;
    padding: 30px;
    color: #0000003e;
}

.dbz {
    background: url(dbz-fond.png) no-repeat;
    background-size: 15%;
    background-position: 95% 25%;
    padding: 1px 0px 20px 0px;

}

.dbz p {
    text-align: center;
    width: 62%;
    color: black;
}

#dbzsites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 55%;
    text-align: center;
    margin-bottom: 10px;
}

#dbzsites .sites img {
    border-radius: 10px;
    box-shadow: 4px 1px 6px 7px rgba(0, 0, 0, 0.69);
}

#personnagesdbz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    padding: 0px 25px 50px 25px;
    text-align: center;
}

#arcdbz {
    width: 60%;
    text-align: center;
    font-weight: bold;
}

#arcdbz li {
    padding: 2px;
}

#arcdbz a {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.dbz .saga {
    font-size: 1.2em;
}

@media screen and (max-width : 720px) {
    .dbz {
        font-size: 0.8em;
    }
}

@media screen and (max-width : 400px) {
    .dbz {
        font-size: 0.6em;
    }
}

@media screen and (max-width : 430px) {
    #dbzsites {
        width: 100%;
    }
}